<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header text-center font-weight-bold">
                    TRANG QUẢN TRỊ VIÊN
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center"><a href="/products/postmanage"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Xem tất cả bài viết</a></li>
                    <li class="list-group-item text-center"><a href="/account"><i class="fa fa-users"
                                aria-hidden="true"></i> Quản lý người dùng</a></li>
                    <li class="list-group-item text-center"><a href="/categories"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i> Quản lý danh mục</a></li>
                    <li class="list-group-item text-center"><a href="/tag"><i class="fa fa-tags"
                                aria-hidden="true"></i> Quản lý tag</a></li>
                    <li class="list-group-item text-center"><a href="/subscriber"><i class="fa fa-leaf"
                                aria-hidden="true"></i> Gia hạn độc giả</a></li>
                    <li class="list-group-item text-center"><a class="" href="/products/uppost"><i class="fa fa-plus"
                                aria-hidden="true"></i> Thêm bài viết</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header">
                    <div class="row">
                        <p>Chào mừng bạn đến với trang quản lý dành cho Administrator!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>