<!DOCTYPE html>
<html>

<head>
    {{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $(function () {

            $('#forgotpasswordForm').validate({
                // onkeyup: true,
                rules: {
                    Email: {
                        required: true,
                    },
                },
                messages: {
                    Email: {
                        required: 'Your Email is required.',
                    },
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                validClass: 'is-valid',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                },
            });
        })
    </script>
    {{/section}}
    <style>
        .form-gap {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <div class="container-fluid mt-30">
        <div class="row justify-content-center align-items-center h-100">
            <div>
                {{#if err_message}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{err_message}}
                </div>
                {{/if}}
                <div class="card" style="width: 600px">
                    <h3 style="text-align: center"><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Bạn quên mật khẩu?</h2>
                    <p class="text-center">Vui lòng nhập email đã đăng ký!</p>
                    <div class="card-body">
                        <form method="POST" id="forgotpasswordForm">
                            <div class="form-group">
                                <input class="form-control form-control-lg border-right-0 border"
                                    placeholder="example@gmail.com" type="text" name="Email">
                            </div>

                            <div class="form-group d-flex">
                                <div class="flex-fill ml-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        Gửi
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>