<h2>ĐỂ ĐĂNG KÝ TÀI KHOẢN PREMIUM</h2>
<p>Vui lòng chuyển khoản đến tài khoản ngân hàng hoặc ví điện tử momo</p>
<p>Để đăng ký tài khoản premium vui lòng chuyển khoản ngân hàng hoặc ví điện tử momo</p>
<p>Cú pháp đăng ký: Nạp tiền + tên tài khoản + gói tài khoản</p>
<p>Các gói cước đăng ký</p>
<p>Combo 1: 50k/7ngày</p>
<p>Combo 2: 150k/1tháng</p>
<p>Combo 3: 300k/3tháng</p>
<p>Combo 4: 1000k/1năm</p>
<p>Số momo: 0928007xxx</p>
<p>Ngân hàng Agribank - Tên chủ khoản: Hồ Tấn Phát - STK: 540200365xxx</p>