<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="/css/style.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css.css"/>
<form action="qlTag/insert" method="POST">
<h1 style="text-align: center; color: #3366cc;">Quản Lý Tag</h1>
	<div class="tab_manage" style="item-align:center;">
		<table style="font-size: 18px; margin-left:200px;"  >
			<tr>
				<td style="margin-right: 50px;">IDCha</td>
                <td>Tên thư mục cha </td>
			</tr>
			<tr>
				
				<td >
				<input type="text" name="IDCha" style="width: 50px; margin-right:50px;">
				</td>
				<td><input type="text" name="tenthumuccha" style="width: 100px;margin-right:50px;">
				</td>
			</tr>
		</table>
		<button type="submit" class="save" >Lưu</button>
	
	</div>
</form>
	<div class="all_movie" style="overflow:scroll;height: 600px;">
		
		<table class="list_movie" >
			<tr> <td colspan="6"> <h3 id="h3">Danh sách Tag</h3></td></tr>
			<tr class="tr_movie">
				<td class="td_movie">ID</td>
				<td class="td_movie">Tên Thư mục Cha</td>
				<td class="td_movie" style="width:90px;"></td>
			</tr>
				<tr class="tr_movie">
					{{!-- <input type="hidden" name="id" value="<%=item.id%>" > --}}
					<td class="td_movie"></td>
					<td class="td_movie"></td>
					<td class="td_movie"><button class="p-2 bg-danger">Xóa</button></td>
					</form>
				</tr>	
		</table>
	</div>