<div class="card shadow mt-3">
    <h5 class="card-header">
          CHUYÊN MỤC CON
    </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <form action="/categories/add" method="POST">
                    <div class="form-group">
                        <label for="txttenloaicon">Tên chuyên mục</label>
                        <input id="txttenloaicon" name="TenLoaiCon" type="text" class="form-control"   placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label for="txtIDcha">ID Cha</label>
                        <input id="txtIDcha" name="IDCha" type="text" class="form-control"   placeholder="ID">
                    </div>
                    <div >
                        <a class="btn btn-info" href="/categories" role="button" title="Back">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Chuyên mục
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu
                        </button>
                    </div>                    
                    
                    </form>
                </div> 
            </div>     
        </div>
</div>

