{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

<script src="/public/ckeditor/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{{/section}}

{{#section 'js'}}

<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            cloudServices: {
                tokenUrl: 'https://40026.cke-cs.com/token/dev/KfpkgsMLg4H3MScxXYcy7tQSOnwlgQzrxdgVstsi5dBdn3S4PYlHS0cwq8Vm',
                uploadUrl: 'https://40026.cke-cs.com/easyimage/upload/'
            }
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    $(function () {
        $('#NgayDang').datetimepicker({
            // format: 'd/m/Y H:i'
            format: 'Y/m/d',
            timepicker: false,
            mask: true,
        });
        $('#file').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadClass: 'btn btn-success',
            uploadUrl: '/public/images/',
            uploadAsync: false,
        });

        tinymce.init({
            selector: '#text-right',
            menubar: false,
            height: 600,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media',
            ],
            image_caption: true,
        });
    })
</script>
<script>
    $(function () {

        $('#insertPostFrom').validate({
            rules: {
                TieuDe: {
                    required: true
                },
                ChuyenMucChaID: {
                    valueNotEquals: "default"
                },
                ChuyenMucConID: {
                    valueNotEquals: "default"
                },
                file: {
                    required: true
                },
                Nhan: {
                    required: true
                },
                {{!-- NgayDang: {
                required: true
            }, --}}
        NDTomTat: {
            required: true
        }
            },
        messages: {
            TieuDe: {
                required: 'Bạn vui lòng nhập tiêu đề bài viết.'
            },
            file: {
                required: 'Bạn vui lòng upload hình ảnh.'
            },
            Nhan: {
                required: 'Bạn vui lòng nhập tag.'
            },
                {{!-- NgayDang: {
            required: 'Bạn vui lòng nhập ngày đăng.'
        }, --}}
        ChuyenMucChaID: {
            valueNotEquals: "Vui lòng chọn chuyên mục cha."
        },
        ChuyenMucConID: {
            valueNotEquals: "Vui lòng chọn chuyên mục con."
        },
        NDTomTat: {
            required: 'Bạn vui lòng nhập nội dung tóm tắt.'
        }
            },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        validClass: 'is-valid',
        highlight: function (e) {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (e) {
            $(e).removeClass('is-invalid').addClass('is-valid');
        },
        });

    })
</script>
{{/section}}

<div class="container">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{success}}
    </div>
    {{/if}}
    <h2 class="mt-5">Đăng bài viết mới</h2>
    <div class="shadow p-3 mb-5 bg-white rounded mt-5">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="btn btn-primary btn-sm float-left">
                <span>Chọn ảnh tiêu đề</span>
                <input required type="file" name="file">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Tiêu đề</span>
                </div>
                <input required type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" id="TieuDe" name="TieuDe">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Chuyên mục</label>
                </div>
                <select required class="custom-select" id="ChuyenMucChaID" name="ChuyenMucChaID">
                    <option value="default">Choose...</option>
                    <option value="1">Bóng Đá</option>
                    <option value="2">Ẩm thực</option>
                    <option value="3">Pháp Luật</option>
                    <option value="4">Showbiz</option>
                    <option value="5">Âm nhạc</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Chuyên mục con</label>
                </div>
                <select required class="custom-select" id="ChuyenMucConID" name="ChuyenMucConID">
                    <option value="default">Choose...</option>
                    <option value="1">Bóng đá Việt Nam</option>
                    <option value="2">Ngoại Hạng Anh</option>
                    <option value="3">Ẩm thực VN</option>
                    <option value="4">Ẩm thực Thế giới</option>
                    <option value="5">Vụ Án Nổi Tiếng</option>
                    <option value="6">Trọng Án</option>
                    <option value="7">Sao Việt</option>
                    <option value="8">Sao Hollywood Và Các Nước Khác</option>
                    <option value="9">Việt Nam</option>
                    <option value="10">US-UK</option>
                    <option value="11">KPOP</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tag</label>
                </div>
                <select required class="custom-select" id="Nhan" name="Nhan">
                    <option value="default">Choose...</option>
                    <option value="1">Bóng Đá</option>
                    <option value="2">Ẩm thực</option>
                    <option value="3">Pháp Luật</option>
                    <option value="4">Showbiz</option>
                    <option value="5">Âm nhạc</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ngày đăng</label>
                <input required id="datepicker" name="NgayDang">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nội dung tóm tắt</span>
                </div>
                <input required type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" id="NDTomTat" name="NDTomTat">
            </div>
            <textarea name="NoiDung" id="editor">
    </textarea>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success mt-5">Thêm bài viết</button>
            </div>
        </form>
    </div>
</div>
<script>

    CKEDITOR.replace('editor');

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });

</script>